body {
  margin: 0;
  padding: 0;
  background-color:  white;
  color: #4D3B93;
  font-size: 100%;
  line-height: 1.5;
  font-family : tahoma, sans-serif, verdana, helvetica;
}

@media (min-width: 1024px) {
.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
}
@media (max-width: 1023px) {
.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
}


@media (max-width: 800px) {
.container {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}
}

@media (max-width: 699px) {
.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
}

@media (max-width: 400px) {
.container {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}
}

@media (max-width: 300px) {
.container {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}
}

@media (max-width: 250px) {
.container {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}
}

 img  { 

border : 0; 
} 
 form  { 

margin : 0; 
} 
 table  { 

border-collapse : collapse; 
} 
 h1, h2, h3  { 

font-weight : bold; 
} 
 h1  { 

font-size : 140%; 
} 
 h2  { 

font-size : 120%; 
} 
 h3  { 

font-size : 100%; 
} 
 .maintable  { 

width : 100%; 

height : 100%; 
} 
 .stredtd  { 

width : auto; 
} 
 .font  { 

font-size : 70%; 
} 
 .okrajup  { 

height : auto; 

border-bottom : 1px solid #E1E1E1; 

background-color : #CACACA; 
} 
 .okrajmiddle  { 

height : 100%; 

background-image : url(http://www.ipexpraha.cz/obrazky/stredbcgr.png); 
} 
 .okrajdownm  { 

height : 55px; 

border-top : 1px solid #E1E1E1; 

background-color : #CACACA; 
} 
 .obsahtable  { 

border : #EFEFEF solid 5px; 
} 
 .obsahtd  { 

padding : 9px; 
} 
 .height100  { 

height : 100%; 
} 
 .upstin  { 

height : auto; 

background-image : url(http://www.ipexpraha.cz/obrazky/upstin.jpg); 
} 
 .downstin  { 

height : auto; 

background-image : url(http://www.ipexpraha.cz/obrazky/downstin.jpg); 
} 
 .logotable  { 

width : 100%; 
} 
 .logo  { 

height : auto; 

text-align : center; 

border-right : 2px solid white; 

background-image : url(http://www.ipexpraha.cz/obrazky/logobcgr.png); 
} 
 .motivimg  { 

width : auto; 

height : auto; 

background-image : url(http://www.ipexpraha.cz/obrazky/motiv01.jpg); 
} 
 .grayokrajnadmenu  { 

height : 6px; 

background-image : url(http://www.ipexpraha.cz/obrazky/okrajpodmenu.gif); 
} 
 .prouzkypodlogo  { 

height : 32px; 

background-image : url(http://www.ipexpraha.cz/obrazky/prouzkypodlogo.png); 
} 
 .menutr  { 

height : 30px; 
} 
 .menutext  { 

font-size : 70%; 

text-align : center; 

font-weight : bold; 

background-image : url(http://www.ipexpraha.cz/obrazky/menubcgrs.jpg); 
} 
 .menutext a  { 

color : white; 

text-decoration : none; 
} 
 .menutext a:hover  { 

color : #4D3B93; 

text-decoration : none; 
} 
 .menubcgrl  { 

width : 12px; 

background-image : url(http://www.ipexpraha.cz/obrazky/menubcgrl.jpg); 
} 
 .menubcgrr  { 

width : 12px; 

background-image : url(http://www.ipexpraha.cz/obrazky/menubcgrr.jpg); 
} 
 .whitebl  { 

border-left : 2px solid white; 
} 
 .whitebr  { 

border-right : 2px solid white; 
} 
 .grayokrajpodmenu  { 

height : 3px; 

border-top : 1px solid #CACACA; 

background-color : #DEDEDE; 
} 
 .inforadekw  { 

width : 100%; 
} 
 .inforadek  { 

height : 35px; 

font-size : 70%; 

padding : 0 10px 0 10px; 

border-top : 1px solid #CACACA; 

background-color : #DEDEDE; 
} 
 .inforadekr  { 

color : #A08EE6; 

text-align : right; 
} 
 .inforadekr a  { 

color : #A08EE6; 

text-decoration : none; 
} 
 .inforadekr a:hover  { 

color : #4D3B93; 

text-decoration : none; 
} 
 .nadpis  { 

font-size : 100%; 

font-weight : bold; 

color : #1F9BEB; 

padding : 15px 20px 0 20px; 
} 
 .informace  { 

font-size : 70%; 

color : #4D3B93; 

vertical-align : top; 

padding : 5px 29px 10px 29px; 
} 
 .informace a  { 

color : #757575; 

text-decoration : none; 
} 
 .informace a:hover  { 

color : #1F9BEB; 

text-decoration : none; 

padding-left : 2px; 
} 
 .kontakttable  { 

width : 100%; 
} 
 .aligntd  { 

vertical-align : top; 
} 
 .menupr  { 

font-size : 70%; 

color : #1F9BEB; 

vertical-align : top; 

padding : 15px 0 0 20px; 
} 
 .menupr a  { 

color : #757575; 

text-decoration : none; 
} 
 .menupr a:hover  { 

color : #1F9BEB; 

text-decoration : none; 

padding-left : 2px; 
} 
 .probsah  { 

font-size : 70%; 

vertical-align : top; 

padding : 15px 0 0 20px; 
} 
 .dodavatele  { 

font-size : 80%; 

font-weight : bold; 

color : #1F9BEB; 

padding : 10px 0 0 20px; 
} 
 .primgmotiv  { 

font-size : 70%; 

vertical-align : top; 

text-align : center; 

padding : 15px 0 0 10px; 
} 
.maintable  {
padding: 0;
}
.prodejna  {
vertical-align: right;
}
