body {
  margin: 0;
  padding: 0;
  background-color:  #444444;
  color: #eaeaea;
  font-size: 100%;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

/*responsive*/
@media (min-width: 700px) {
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}}

@media (max-width: 699px) {
.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}}

@media (max-width: 400px) {
.container {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}}

@media (max-width: 300px) {
.container {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}}

@media (max-width: 250px) {
.container {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}}

section {
  display: block;
  margin: 0 0 2px 0;
}

/*h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}*/

li {
  line-height: 1.4 ;
}

/*Header, <header>
   header   - container
   h1       - project name
   h2       - project description*/


header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed #b5e853;
  padding: 2px 0;
  margin: 0 0 4px 0;
  text-align: justify;
}

header h1 {
  font-size: 175%;
  line-height: 1.5;
  /*margin: 0 0 0 -40px;*/
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -0.03em;
}

header h2 {
  font-size: 120%;
  font-weight: 300;
  color: #808000;
}

/* Main Content
*/

#main_content {
  width: 100%;
}

section img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box
}

img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

#main_content h1 {
  font-size: 175%;
  margin: 0 0 5px 0;
}

#main_content h2 {
  font-size: 120%;
  margin: 0 0 5px 0;
}

#main_content h3 {
  font-size: 115%;
  margin: 0 0 5px 0;
}

#main_content h4 {
  font-size: 110%;
  margin: 0 0 5px 0;  
}

#main_content h5 {
  font-size: 105%;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 103%;
  margin: 0 0 5px 0;
}

p {
  text-align: justify;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style: none;
}

ul li:first-letter {
  text-transform: capitalize;
}

ul li:before {
  content: ">>";
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 100%;
  color: #b5e853;
  margin-left: -37px;
  margin-right: 21px;
  line-height: 16px;
}

blockquote {
  color: #aaa;
  padding-left: 10px;
  border-left: 1px dotted #666;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 100%;
  color: #b5e853;
  border-radius: 2px;
  overflow: auto;
  overflow-y: hidden;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: Yellow;
}

/* Buttons*/

.btn {
  background: DarkOliveGreen;
  background-image: -webkit-linear-gradient(top, DarkOliveGreen, DimGray);
  background-image: -moz-linear-gradient(top, DarkOliveGreen, DimGray);
  background-image: -ms-linear-gradient(top, DarkOliveGreen, DimGray);
  background-image: -o-linear-gradient(top, DarkOliveGreen, DimGray);
  background-image: linear-gradient(to bottom, DarkOliveGreen, DimGray);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 50px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 100%;
  padding: 10px 20px 10px 20px;
  border: solid #030003 2px;
  text-decoration: none;
}

.btn:hover {
  background: DimGray;
  background-image: -webkit-linear-gradient(top, DimGray, DarkOliveGreen);
  background-image: -moz-linear-gradient(top, DimGray, DarkOliveGreen);
  background-image: -ms-linear-gradient(top, DimGray, DarkOliveGreen);
  background-image: -o-linear-gradient(top, DimGray, DarkOliveGreen);
  background-image: linear-gradient(to bottom, DimGray, DarkOliveGreen);
  text-decoration: none;
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: Yellow;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

a:hover {
  color: Lime;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

a:active {
  color:  #AAAAAA;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

.share {
  color: White;
  font-size: 100%;
  /*font-weight: bold;*/
  text-decoration: none;
  letter-spacing: -0.1em
}

.share:hover {
  color: Red;
  font-size: 105%;
  /*font-weight: bold;*/
  text-decoration: none;
  letter-spacing: -0.1em
}

.share:active {
  color: Lime;
  font-size: 107%;
  /*font-weight: bold;*/
  text-decoration: none;
  letter-spacing: -0.1em
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}
